.GrandWrapper {
  padding: 24px;
  display: flex;
  gap: 24px;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: max-content;
  background-image: url('./bg.png');
}

.Content {
  width: 100%;
}